---
import "../styles.css";

const negatives = [
	"Not yet",
	"Be patient, child",
	"Nope",
	"You wish",
	"Maybe if you refresh this page‽",
	"Idk, check their socials",
	"Nah",
	"Impatient much?",
];
const chosenNegative = negatives[Math.floor(Math.random() * negatives.length)];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Favicon stuff -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f79b4e" />
		<meta name="theme-color" content="#f79b4e" />

		<!-- Primary Meta Tags -->
		<title>Is Sally out yet?</title>
		<meta name="title" content="Is Sally out yet?" />
		<meta
			name="description"
			content="A small website to answer the long-awaited question: Is Lucid Tales' Sally out yet?"
		/>

		<!-- Open Graph -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Is Sally out yet?" />
		<meta
			property="og:description"
			content="A small website to answer the long-awaited question: Is Lucid Tales' Sally out yet?"
		/>
		<meta property="og:url" content="https://issallyoutyet.com" />
		<meta property="og:image" content="/og-image.jpg" />
		<meta property="og:image:width" content="1145" />
		<meta property="og:image:height" content="599" />

		<!-- Twitter (takes from Open Graph too) -->
		<meta property="twitter:card" content="summary_large_image" />
	</head>
	<body>
		<main>
			<h1>Is Sally out yet?</h1>
			<p>{chosenNegative}</p>
		</main>

		<footer>
			<p>
				Sally © <a href="https://www.lucid-tales.com/">Lucid Tales</a>. All
				rights reserved.
			</p>
		</footer>
	</body>
</html>
